// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --color-claro: #837662;
  --color-oscuro: #290303;
  --espaciado-base: 1rem;
  --espaciado-grande: 2rem;
}

:root {
  --color-slide-title: #1a2c68;
  --color-texto-slide: #491e39;
}

