<ion-content class="register-content">
  <div class="register-container">
    <div class="header-section">
      <ion-button fill="clear" (click)="goToLogin()" class="back-button">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
      <h1 class="page-title">Crear Cuenta</h1>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="register()" class="register-form">
      <div class="input-group">
        <ion-item class="custom-input" [class.error-input]="hasError('name')">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-input placeholder="Nombre" formControlName="name"></ion-input>
        </ion-item>
        <div class="error-message" *ngIf="hasError('name')">{{ getErrorMessage('name') }}</div>
      </div>

      <div class="input-group">
        <ion-item class="custom-input" [class.error-input]="hasError('apellido')">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-input placeholder="Apellido" formControlName="apellido"></ion-input>
        </ion-item>
        <div class="error-message" *ngIf="hasError('apellido')">{{ getErrorMessage('apellido') }}</div>
      </div>

      <div class="input-group">
        <ion-item class="custom-input" [class.error-input]="hasError('email')">
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>
        <div class="error-message" *ngIf="hasError('email')">{{ getErrorMessage('email') }}</div>
      </div>

      <div class="input-group">
        <ion-item class="custom-input" [class.error-input]="hasError('password')">
          <ion-icon name="lock-closed" slot="start"></ion-icon>
          <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña" formControlName="password"></ion-input>
          <ion-button fill="clear" slot="end" (click)="togglePasswordVisibility()">
            <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </ion-item>
        <div class="error-message" *ngIf="hasError('password')">{{ getErrorMessage('password') }}</div>
      </div>

      <ion-button expand="block" type="submit" [disabled]="!registerForm.valid" class="register-button">
        Crear Cuenta
      </ion-button>
    </form>
  </div>
</ion-content>